/*  ----- 전체 구조 ----- */
body{
    background-image:url("../img/ocean.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
#body{
    overflow: hidden;
}
#wrap{
    position:relative;
    width: 75%;
    margin: auto;
}
#beach{
    width: 100%;
    height: 500px; /*--------내용컨텐츠 삽입후 삭제------------*/
    background-color:rgba(199, 227, 255, 0.6);
    border-radius: 40px;
    margin-top: 300px;
}
#shallowSea{
    position: relative;
    width: 100%; 
    height: auto;
    background-color: rgba(199, 227, 255, 0.6);
    border-radius: 40px;
    margin-top: 110px;
    animation-name: shallowsea_led_effect;
    animation-duration: 1s;
    animation-iteration-count: infinite; 
}
@keyframes shallowsea_led_effect{
    0%{outline: dotted 10px #aaff00;}
    50%{outline: dotted 10px #ff4400;}
    100%{outline: dotted 10px #aaff00;}
    
}
#middleSea{
    width: 100%;
    background-color: rgba(199, 227, 255, 0.6);
    border-radius: 40px;
    margin-top: 30px;
}
#deepSea{
    width: 100%;
    height: 700px;
    border-radius: 40px;
    margin-top: 30px;
    border: 15px solid rgb(255, 255, 255);
    overflow: hidden;
}
#ultradeepSea{
    width: 100%;
    height: 700px; /*--------내용컨텐츠 삽입후 삭제------------*/
    background-color: rgba(199, 227, 255, 0.6);
    border-radius: 40px;
    margin-top: 30px;
}
/*  ----- //전체 구조 ----- */


/* ------백그라운드 컨텐츠 ----- */
#palmtree1{
    left: -400px;
    top: -800px;
    width: 900px;
    height: 1500px;
    position: absolute;
    background-image: url("../img/palmtree1.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(10deg);
    z-index: -1;
}
#palmtree2{
    right: -400px;
    top: 300px;
    width: 800px;
    height: 1300px;
    position: absolute;
    background-image: url("../img/palmtree2.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(-20deg);
    z-index: -1;
}
#clude1{
    right: -250px;
    top:-300px;
    width: 500px;
    height: 400px;
    position: absolute;
    background-image: url("../img/clude1.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    animation-name: clode_ani1;
    animation-duration:80s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#clude2{
    top:-200px;
    left: -500px;
    width: 1200px;
    height: 1000px;
    position: absolute;
    background-image: url("../img/clude2.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -2;
}
#clude3{
    right: -250px;
    top:-200px;
    width: 500px;
    height: 400px;
    position: absolute;
    background-image: url("../img/clude1.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
#clude4{
    right: -150px;
    top:150px;
    width: 500px;
    height: 400px;
    position: absolute;
    background-image: url("../img/clude1.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    animation-name: clode_ani2;
    animation-duration:60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#clude5{
    right: -150px;
    top:-400px;
    width: 500px;
    height: 400px;
    position: absolute;
    background-image: url("../img/clude1.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    animation-name: clode_ani3;
    animation-duration:50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes clode_ani1{
    from{left:-50%;}
    to{left:130%;}
}
@keyframes clode_ani2{
    from{left:30%;}
    to{left:130%;}
}
@keyframes clode_ani3{
    from{left:70%;}
    to{left:130%;}
}
/* ------ //백그라운드 컨텐츠 ----- */


/* ----- 헤더 -----  */
#beach{
    position: relative;
}
#beach button{
    position:absolute;
    left: 300px;
    top: -130px;
    font-size: 180px;
    font-family: 'Courgette', cursive;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    font-weight: 800;
    text-shadow: 5px 5px#ff651e;
}
#beach button:hover {
   color:#aaff00;
}
/* ----- //헤더 -----  */

/*  shallowSea */
#cocktailtext{
    position: absolute;
    top: -250px;
    left: 0px;
    width: 400px;
    height: 400px;
    background-image: url("../img/cocktailtext4.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
}
#shallowSea #cocktail1{
    background-image: url("../img/cocktail1.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
}
#shallowSea #cocktail2{
    background-image: url("../img/cocktail2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#shallowSea #cocktail3{
    background-image: url("../img/cocktail3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#shallowSea #cocktail4{
    background-image: url("../img/cocktail4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#shallowSea #cocktail5{
    background-image:url("../img/cocktail5.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#shallowSea #cocktail6{
    background-image: url("../img/cocktail6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/*  //shallowSea */

/* ----- Flex Six Box Class -----*/
.six_box_wrap{
    width: 95%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
}
.sliding_carousel{
    overflow: hidden;
}
.flex_sixbox{
    display: flex;
    flex-wrap: nowrap;
    animation:sliding_carousel 15s linear infinite;
    overflow:visible;
}
.box_of_flex_sixbox{
    max-width: 15%;
    min-width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.box_of_flex_sixbox:hover{
    background-image: url("../img/cocktailtext.png");
}
@keyframes sliding_carousel{
    0% {
        transform: translateX(0);
    }
    100% {transform: translateX(-1200px); /* flex_sixbox div의 width 200px*6=1200px */
    }
}
/* ----- //Flex Six Box Class -----*/


/* ----- 트로피칼 카드 3장  ----- */
.card{
    width: 350px;
    height: 100%;
    position: relative;
    transition: 2s;
    z-index: 2;
    backface-visibility: hidden;
}
.card_front{
    left: -8px;
    top: -8px;
    position:absolute;
    background-image: radial-gradient(rgb(255, 255, 255),rgb(104, 255, 227));
}
.card_back{
    left: -8px;
    top: -8px;
    position:absolute;
    transform: rotateY(180deg);
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#middleSea .fa-fish-fins{ /*어썸폰트*/
    font-size: 90px;
    display: block;
    text-align: center;
    line-height: 560px;
    color:#51769a;
}
.tropical_card_nametag{
    position:absolute;
    top: 370px;
    left: 80px;
    font-size: 40px;
    color:#51769a;
    font-family: 'Rubik Bubbles', cursive,Arial,sans-serif;
}
.two_btn_wrap{
    width: 60%;
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card_control_btn{
    width: 300px;
    height: 70px;
    margin: auto;
    border:none;
    border-radius: 15px;
    font-size: 30px;
    font-family: 'Jua', sans-serif;
    color:#51769a;
    background-color: white;
    box-shadow:0px 10px #558aa5;
}
.card_control_btn:hover{
    background-color: #d5eaff;
    box-shadow:0px 7px #558aa5;
    transform: translateY(2px);
}
.card_control_btn:active{
    box-shadow:none;
    transition: none;
    transform: translateY(5px);
}
.congratulation{
    position: absolute;
    top: 1000px;
    left: 140px;
    color: rgb(234, 207, 55);
    font-size: 0;
    z-index: 9;
    font-family: 'Fredoka One',cursive,Georgia, 'Times New Roman', Times, serif;
    text-shadow:6px 6px  #fd8f21 ;

}
/* ----- //트로피칼 카드 3장  ----- */


/* ----- Flex three Box Class -----*/
.three_box_wrap{
    width: 95%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.flex_three_box{
    display: flex;
    flex-wrap: wrap;
    
}
.flex_three_box div{
    height: 600px;
    min-width: 350px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 8px solid rgb(255, 255, 255);
}
/* ----- //Flex Six Box Class -----*/

/* ----- swimming_animation -----*/
.swimming_animation{
    position:relative;
    width: 95%;
    height: 100%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.swimming_animation .fish{
    position:absolute;
    height: 70px;
    width: 135px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 2s;
}
.nimo{
    background-image: url(../img/nimo.png);
}
.bluetang{
    background-image: url(../img/bluetang.png);
}
.purplefish{
    background-image: url(../img/purplefish.png);
}
/* ----- //swimming_animation -----*/