/*  ----- 전체 구조 ----- */
body{
    background-image:url("../img/ocean.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
#body{
    overflow: hidden;
}
#wrap{
    position:relative;
    width: 75%;
    margin: auto;
}

#cocktail{
    position: relative;
    width: 100%; 
    height: auto;
    background-color: rgba(199, 227, 255, 0.6);
    border-radius: 40px;
    margin-top: 1200px;
    animation-name: shallowsea_led_effect;
    animation-duration: 1s;
    animation-iteration-count: infinite; 
}
@keyframes shallowsea_led_effect{
    0%{outline: dotted 10px #aaff00;}
    50%{outline: dotted 10px #ff4400;}
    100%{outline: dotted 10px #aaff00;}
    
}
#tropical_cardgame{
    position:relative;
    width: 100%;
    background-color: rgba(199, 227, 255, 0.6);
    border-radius: 40px;
    margin-top: 200px;
    padding-top: 80px;
    padding-bottom: 80px;
}
#swimming_fish{
    width: 100%;
    height: 700px;
    border-radius: 40px;
    margin: 100px 0 100px 0;
    border: 15px solid rgb(255, 255, 255);
    overflow: hidden;
}
/*  ----- //전체 구조 ----- */

/* -----메뉴----- */
.menu{
    position: relative;
    font-size: 40px;
    text-align: right;
    padding-right: 40px;
    padding-top: 10px;
}
.menu a{
    margin-right: 10px;
}
[class*="tooltip_text"]{
    position: absolute;
    top: 65px;
    display:inline-block;
    background-color: black;
    color:white;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px;
}
.git_tooltip_text{
    right: 120px;
    visibility: hidden;
}
.blog_tooltip_text{
    right: 70px;
    visibility: hidden;

}
.menu_tooltip_text{
    right: 30px;
    visibility: hidden;

}
.fa-github:hover .git_tooltip_text{
    visibility: visible;
}
.fa-blog:hover .blog_tooltip_text{
    visibility: visible;
}
.fa-bars:hover .menu_tooltip_text{
    visibility: visible;
}
/* //-----메뉴----- */

/* ------백그라운드 컨텐츠 ----- */
#palmtree1{
    left: -400px;
    top: -400px;
    width: 900px;
    height: 1500px;
    position: absolute;
    background-image: url("../img/palmtree1.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(10deg);
    z-index: -1;
}
#palmtree2{
    right: -440px;
    top: 800px;
    width: 700px;
    height: 1000px;
    position: absolute;
    background-image: url("../img/palmtree2.png");
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(-20deg);
    z-index: -1;
}
#clude1{
    right: -250px;
    top:10px;
    width: 500px;
    height: 400px;
    position: absolute;
    background-image: url("../img/clude1.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    animation-name: clode_ani1;
    animation-duration:80s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#clude2{
    top:200px;
    left: -500px;
    width: 1200px;
    height: 700px;
    position: absolute;
    background-image: url("../img/clude2.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -2;
}
#clude3{
    right: -400px;
    top:600px;
    width: 800px;
    height: 500px;
    position: absolute;
    background-image: url("../img/clude1.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}
#clude4{
    right: -150px;
    top:150px;
    width: 800px;
    height: 400px;
    position: absolute;
    background-image: url("../img/clude1.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    animation-name: clode_ani2;
    animation-duration:60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#clude5{
    top:800px;
    width: 500px;
    height: 400px;
    position: absolute;
    background-image: url("../img/clude1.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    animation-name: clode_ani3;
    animation-duration:50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes clode_ani1{
    from{left:-50%;}
    to{left:130%;}
}
@keyframes clode_ani2{
    from{left:30%;}
    to{left:130%;}
}
@keyframes clode_ani3{
    from{left:70%;}
    to{left:130%;}
}
/* ------ //백그라운드 컨텐츠 ----- */


/* ----- 헤더 -----  */
#title{
    position: absolute;
    top: 300px;
    left: 450px; 
    width: 70%;
    height: 300px;
    background-image: url("../img/title.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}  
#title:hover {
    background-image: url("../img/titlehover.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
}
/* ----- //헤더 -----  */

/* cocktail (style) */
#cocktailtitle{
    position: absolute;
    top: -250px;
    left: 0px;
    width: 400px;
    height: 400px;
    background-image: url("../img/cocktailtext.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
}
#cocktail1{
    background-image: url("../img/cocktail1.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
}
#cocktail2{
    background-image: url("../img/cocktail2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#cocktail3{
    background-image: url("../img/cocktail3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#cocktail4{
    background-image: url("../img/cocktail4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#cocktail5{
    background-image:url("../img/cocktail5.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#cocktail6{
    background-image: url("../img/cocktail6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
/*  //cocktail (style)*/

/* ----- Flex Six sliding carousel -----*/
.sliding_carousel{
    overflow: hidden;
}
.flex_sliding_carousel{
    width: 95%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: nowrap;
    animation:sliding_carousel 15s linear infinite;
    overflow:visible;
}
.box_of_sliding_carousel{
    max-width: 15%;
    min-width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@keyframes sliding_carousel{
    0% {
        transform: translateX(0);
    }
    100% {transform: translateX(-1200px); /* box_of_sliding_carousel의 width 200px*6=1200px */
    }
}
/* ----- //Flex Six sliding carousel -----*/


/* ----- tropical_cardgame ----- */
.card{
    position: relative;
    transition: 2s;
    z-index: 2;
    backface-visibility: hidden;
}
.card_front{
    width: 100%;
    height: 100%;
    position:absolute;
    background-image: radial-gradient(rgb(255, 255, 255),rgb(104, 255, 227));
    border-radius: 15px;
    border: 8px solid rgb(255, 255, 255);
    text-align: center;
    
}
.card_back{
    width: 100%;
    height: 100%;
    position:absolute;
    transform: rotateY(180deg);
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    border: 8px solid rgb(255, 255, 255);
}
.fa-fish-fins{ /*어썸폰트*/
    font-size: 90px;
    color:#51769a;
}

.tropical_card_text{
    font-size: 40px;
    color:#51769a;
    font-family: 'Rubik Bubbles', cursive,Arial,sans-serif;
    margin-top: 30px;
}
.two_btn_wrap{
    width: 60%;
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card_control_btn{
    width: 300px;
    height: 70px;
    margin: auto;
    border:none;
    border-radius: 15px;
    font-size: 30px;
    font-family: 'Jua', sans-serif;
    color:#51769a;
    background-color: white;
    box-shadow:0px 10px #558aa5;
}
.card_control_btn:hover{
    background-color: #d5eaff;
    box-shadow:0px 7px #558aa5;
    transform: translateY(2px);
}
.card_control_btn:active{
    box-shadow:none;
    transition: none;
    transform: translateY(5px);
}
.congratulation{
    position: absolute;
    top: 200px;
    left: 140px;
    color: rgb(234, 207, 55);
    font-size: 0;
    z-index: 9;
    font-family: 'Fredoka One',cursive,Georgia, 'Times New Roman', Times, serif;
    text-shadow:6px 6px  #fd8f21 ;
}
/* ----- //tropical_cardgame  ----- */


/* ----- Flex three Box Class -----*/
.flex_three_box{
    width: 95%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}
.box_of_flex_three_box{
    height: 600px;
    width: 350px;
    margin: auto;
    margin-bottom: 20px;
}
/* ----- //Flex three Box Class -----*/

/* ----- swimming_animation -----*/
.swimming_animation{
    position:relative;
    width: 95%;
    height: 100%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.swimming_animation .fish{
    position:absolute;
    height: 70px;
    width: 135px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 2s;
}
.nimo{
    background-image: url(../img/nimo.png);
}
.bluetang{
    background-image: url(../img/bluetang.png);
}
.purplefish{
    background-image: url(../img/purplefish.png);
}
.swimming_animation p{
    font-size: 20px;
    color: rgb(14, 14, 69);
    font-weight: bold;
    visibility: hidden;
}
/* ----- //swimming_animation -----*/

/* 미디어 쿼리 */
@media(max-width:1730px){
    #title{
    }
}
@media(max-width:1530px){
    #title{
        left: 300px;
    }
}
@media(max-width:1400px){
    #title{
        left: 300px; 
        width: 80%;
    }
    .card_control_btn{
        width: 100%;
        margin: 10px;
    }
    .congratulation{
        top: 600px;
    }
}
@media(max-width:1240px){
    #title{
        top: 400px;
        left: 20%; 
        width: 85%;
    }
    .congratulation{
        top: 680px;
        left: 100px;
    }
}

@media(max-width:1024px){
    #title{
        top: 400px;
        left: 10%; 
        width: 85%;
    }
    #palmtree1{
        height: 1300px;
    }
    #palmtree2{
        right: -500px;
        height: 800px;
    }
    .card_control_btn{
        font-size: 25px;
    }
}
@media(max-width:900px){
    .card_control_btn{
        font-size: 25px;
    }
    .congratulation{
        top: 1000px;
    }
}
@media(max-width:768px){
    #palmtree2{
        right: -500px;
        height: 600px;
    }
    .card_control_btn{
        font-size: 20px;
    }
    .congratulation{
        left: 70px;
    }
}

@media(max-width:600px){
    .two_btn_wrap{
        flex-direction: column;
    }
    .card_control_btn{
        font-size: 30px;
        margin-bottom: 30px;
    }
    .swimming_animation p{
        visibility: visible;
    }
    #tropical_cardgame{
        padding-top: 20px;
    }
    .congratulation{
        left: 50px;
    }
}

@media(max-width:380px){
    .fa-fish-fins{
        font-size: 80px;
    }
    .tropical_card_text{
        font-size: 35px;
    }
    #tropical_cardgame{
        padding-top: 0;
    }
    #title{
        top: 350px;
        left: -5%; 
        width: 120%;
    }
    #cocktailtitle{
        width:300px;
    }
    .congratulation{
        top:750px;
        left: 30px;
    }
}
